
.navbar {
  background-color: #221f1f !important;
  border-bottom: 1px solid #333;
}

.navbar .navbar-brand img {
  width: 100px;
  height: 55px;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  font-weight: bold;
  color: #f5f5f1;
}

.navbar-nav .nav-link:hover {
  color: #dcdcdc;
}

.navbar .icons {
  font-size: 1.3em;
  color: #f5f5f1;
}

.navbar .icons:hover {
  color: #dcdcdc;
}

#kids {
  color: #f5f5f1;
  font-size: 0.8em;
}

.d-flex .icons {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.navbar-toggler-icon {
  background-color: #f5f5f1;
}

/* Styling for KIDS link */
#kids {
  font-size: 0.8em;
  font-weight: bold;
  color: #f5f5f1;
}

/* Navbar dropdown */
.navbar-collapse {
  justify-content: flex-end;
}

@media (max-width: 992px) {
  .navbar-nav {
    text-align: center;
    margin-top: 1rem;
  }

  .navbar-nav .nav-item {
    margin-bottom: 1rem;
  }

  .navbar .icons {
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media (max-width: 576px) {
  .navbar .icons {
    font-size: 1.1em;
  }

  #kids {
    font-size: 0.7em;
  }
}
